In [2]:
import os, sys
dir2 = os.path.abspath('')
dir1 = os.path.dirname(dir2)
if not dir1 in sys.path:
    sys.path.append(dir1)
os.chdir('..')

In [9]:
from hydra import compose, initialize

import numpy as np
import pandas as pd

from src.data_preprocessing.utils import preprocess_features

In [4]:
with initialize(config_path='../config', version_base=None):
    cfg = compose(config_name='config')

In [5]:
cfg

{'dataset': {'name': 'new_data', 'dir_path': 'data/new_data', 'ignore_existing_preproc': False, 'user_column': 'user_id', 'mcc_column': 'mcc_code', 'transaction_amt_column': 'transaction_amt', 'transaction_dttm_column': 'transaction_dttm', 'preproc': {'drop_currency': True, 'time_delta': 3, 'len_min': 20, 'len_max': 90}, 'anomaly_strategy': 'quantile', 'percentile': 0.95}, 'embed_model': {'name': 'tr2vec', 'window_size': 10, 'num_iters': 3, 'mcc_vocab_size': 184, 'mcc_embed_size': 32, 'data_split': {'test_fraq': 0.2, 'val_fraq': 0.2}, 'learning_params': {'num_workers': 4, 'lr': 0.05, 'lr_scheduler_params': {'factor': 0.5, 'patience': 2}, 'batch_size': 5000, 'max_epochs': 50, 'early_stopping_params': {'min_delta': 0.001, 'patience': 5}}}, 'autoencoder': {'name': 'lstm', 'core': {'_target_': 'src.networks.autoencoder_core.SimpleLSTM', 'hidden_size': 256, 'output_size': 256, 'num_layers': 1}, 'num_iters': 3, 'mcc_vocab_size': 184, 'loss_weights': [1, 100, 1], 'freeze_embed': True, 'unfreeze_after': 5, 'use_user_embedding': False, 'user_embedding_size': 32, 'use_masked_prediction': False, 'rand_rate': 0.15, 'mask_token': -1, 'data_split': {'test_size': 0.2, 'val_size': 0.2}, 'tr2vec': {'window_size': 10, 'mcc_embed_size': 32}, 'learning_params': {'num_workers': 4, 'lr': 0.003, 'weight_decay': 1e-05, 'lr_schedule_params': {'factor': 0.5, 'patience': 2}, 'batch_size': 256, 'max_epochs': 50, 'early_stopping_params': {'min_delta': 0.001, 'patience': 5}}}, 'task': 'autoencoder', 'api_token': None, 'main_model_folder': 'gender'}

In [7]:
df = pd.read_csv("data/age/transactions_train.csv")

In [8]:
df

          client_id  trans_date  small_group  amount_rur
0             33172           6            4      71.463
1             33172           6           35      45.017
2             33172           8           11      13.887
3             33172           9           11      15.983
4             33172          10           11      21.341
...             ...         ...          ...         ...
26450572      43300         727           25       7.602
26450573      43300         727           15       3.709
26450574      43300         727            1       6.448
26450575      43300         727           11      24.669
26450576      43300         729            3      19.408

[26450577 rows x 4 columns]

In [10]:
preprocess_features(df, 'small_group', 'client_id', 'trans_date', 'amount_rur')

       client_id                                       transactions
0              4  [(0, 1, 10.209), (2, 3, 27.706), (3, 1, 13.024...
1              6  [(0, 15, 4.054), (5, 3, 13.738), (10, 1, 20.70...
2              7  [(1, 3, 18.319), (2, 19, 194.721), (12, 1, 5.3...
3             10  [(4, 0, 17.402), (4, 1, 9.342), (4, 19, 54.125...
4             11  [(0, 3, 17.251), (2, 25, 22.898), (6, 1, 15.55...
...          ...                                                ...
29995      49993  [(1, 9, 78.88), (4, 48, 29.5), (4, 22, 68.647)...
29996      49995  [(0, 3, 25.877), (1, 25, 2.652), (1, 11, 9.359...
29997      49996  [(1, 36, 215.65), (1, 1, 37.607), (2, 4, 32.69...
29998      49997  [(1, 1, 32.194), (2, 1, 28.054), (3, 1, 40.941...
29999      49998  [(16, 34, 9.113), (16, 15, 34.589), (16, 2, 22...

[30000 rows x 2 columns]